[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/seryou
[access "refs/for/refs/*"]
	read = group user/seryou
	push = group user/seryou
	label-Code-Review = -2..+2 group user/seryou
	label-Verified = -1..+1 group user/seryou
	rebase = group user/seryou
	removeReviewer = group user/seryou
	submit = group user/seryou
[access "refs/heads/*"]
	read = group user/seryou
	create = group user/seryou
	push = +force group user/seryou
	pushMerge = group user/seryou
[access "refs/tags/*"]
	push = +force group user/seryou
	pushTag = group user/seryou
	pushSignedTag = group user/seryou
